{% set assetsVersion = "18" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ mySite.title }}</title>
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/slider.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/sticky-navbar.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/language-switcher.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/common.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/first-section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/products-menu.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/hamburger.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/feature.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/second-section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/custom-carousel.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/about-us.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/media.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/partner.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/footer.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/back-to-top.css?v={{ assetsVersion }}">

    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/product.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/first-section-product.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/product-menu.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/characteristics.css?v={{ assetsVersion }}">

    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/flickity.css" media="screen">
    <link rel="stylesheet" href="{{ baseUrl }}../assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="{{ baseUrl }}../assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="{{ baseUrl }}../assets/fontawesome/css/solid.css"/>

    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/fancybox.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ baseUrl }}../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ baseUrl }}../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ baseUrl }}../assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="{{ baseUrl }}../assets/favicon_io/site.webmanifest">

    {% include 'gtag.njk' %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ mySite.metaDescription }}">

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Amudario Research",
            "url": "https://amudar.io",
            "logo": "https://amudar.io/assets/img/logo/newLogo.png",
            "description": "{{ mySite.metaDescription }}",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "{{ mySite.phone }}",
                "contactType": "Customer Service"
            }
        }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body class="mx-auto mb-10">
<header class="navbar-custom">
    <nav>
        <div class="d-flex justify-content-between align-items-center">
            <div class="back-home">
                <a href="{{ mySite.menu.home.link }}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <a href="{{ mySite.menu.home.link }}" class="centered-link">
                <img src="{{ baseUrl }}../assets/img/logo/newLogo.png" alt="Logo" />
            </a>
        </div>

        <div class="right-block">
            <div class="dropdown-custom">
                <div class="dropdown-content">
                    <a href="{{ mySite.menu.home.link }}">{{ mySite.menu.home.value }}</a>
                    <a href="mailto:{{ mySite.email }}" class="text-uppercase">{{ mySite.email }}</a>
                    <a href="tel:{{ mySite.phone }}" class="text-uppercase">{{ mySite.short_phone }}</a>
                    <a href="{{ mySite.telegram }}"><i class="fa-brands fa-telegram"></i> TELEGRAM</a>
                </div>
            </div>
{#            <div class="menu-content">#}
{#                <a href="{{ mySite.menu.home.link }}" id="home-link-id">{{ mySite.menu.home.value }}</a>#}
{#            </div>#}
{#            <div class="custom-language-switcher">#}
{#                <a href="{{ mySite.menu.firstLang.link }}">{{ mySite.menu.firstLang.value }}</a>#}
{#                <a href="{{ mySite.menu.secondLang.link }}">{{ mySite.menu.secondLang.value }}</a>#}
{#            </div>#}
            <div class="menu-lang-content">
                <div class="dropdown-lang-wrapper">
                    <a href="#" id="language-dropdown" class="product-dropdown-link">{{ mySite.menu.currentLang }} <i class="fa-solid fa-chevron-down"></i> </a>
                    <div class="lang-dropdown-menu">
                        <a href="{{ mySite.menu.firstLang.link }}">{{ mySite.menu.firstLang.value }}</a>
                        <a href="{{ mySite.menu.secondLang.link }}">{{ mySite.menu.secondLang.value }}</a>
                        <a href="{{ mySite.menu.thirdLang.link }}">{{ mySite.menu.thirdLang.value }}</a>
                    </div>
                </div>
            </div>
            <button id="hamburger-button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="contact-info align-items-center">
                <a href="mailto:{{ mySite.email }}" class="mx-2 text-uppercase" id="email">{{ mySite.email }}</a>
                <a href="{{ mySite.telegram }}" class="mx-2 text-uppercase" id="telegram"><i class="fa-brands fa-telegram"></i></a>
                <a href="tel:{{ mySite.phone }}" class="mx-2" id="phone">{{ mySite.phone }}</a>
            </div>
        </div>
    </nav>
</header>
<button id="backToTopBtn" class="back-to-top"><i class="fa-solid fa-arrow-up"></i></button>

<main>
    <section id="product-banner">
        <div class="banner-wrapper title-bold">
            <img id="main-banner" src="{{ baseUrl }}{{ mySite.banner.img }}"  alt="banner"/>
            <img id="mobile-banner" src="{{ baseUrl }}{{ mySite.banner.mobile_img }}" alt="banner-mobile" />
            <div class="carousel-caption-custom text-uppercase">
                {% if (mySite.menu.currentLang == "РУ") %}
                    <h3 class="oxus_ws_h3">{{ mySite.banner.title_rest }}<span class="oxus_ws_title">{{ mySite.banner.title_strong }}</span></h3>
                {% else %}
                    <h3><span>{{ mySite.banner.title_strong }}</span>{{ mySite.banner.title_rest }}</h3>
                {% endif %}
                <p>
                    {{ mySite.banner.caption }}
                </p>
            </div>
        </div>
    </section>

    <section id="problem-emphasize" class="scroll-margin-top-class">
        <span class="section-title custom-feature-container">{{ mySite.firstSection.title }}</span>
        <div class="custom-container">
            <div class="row mt-5 justify-content-center">
                {% for problem_feature in mySite.firstSection.problem_features %}
                    <div class="problem-feature">
                        <div class="image-wrapper-problem">
                            <img src="{{ baseUrl }}{{ problem_feature.img }}"/>
                        </div>
                        <div class="feature-data">
                            <h5 class="text-uppercase">{{ problem_feature.title }}</h5>
                            <p>{{ problem_feature.caption }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="pheromones" class="scroll-margin-top-class">
        <span class="section-title custom-feature-container">{{ mySite.pheromones.title }}</span>
        <div class="custom-container">
            <div class="row mt-5 justify-content-center">
                {% for problem_feature in mySite.pheromones.media_info %}
                    <div class="problem-feature">
                        <div class="image-wrapper-problem">
                            <img src="{{ baseUrl }}{{ problem_feature.img }}" alt="test"/>
                        </div>
                        <div class="feature-data">
                            <h5 class="text-uppercase">{{ problem_feature.title }}</h5>
                            <p>{{ problem_feature.caption }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="second-section-features" class="scroll-margin-top-class">
        <span class="section-title custom-feature-container">{{ mySite.secondSection.title }}</span>
        <div class="row mt-5 justify-content-center custom-feature-container custom-product-div">
            {% for iconFeature in mySite.secondSection.iconFeatures %}
                <div class="custom-feature">
                    <div class="feature-image-container">
                        <img src="{{ baseUrl }}{{ iconFeature.img }}" class="custom-feature-img" />
                    </div>
                    <div class="feature-data">
                        <h5 class="text-uppercase">{{ iconFeature.title }}</h5>
                        <p>{{ iconFeature.paragraph }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="agrometeostation-custom" class="scroll-margin-top-class test-class">
        <div class="custom-container section-wrapper-ordinary reverse-flex">
            <div class="text-block">
                <div>
                    <h3 class="text-uppercase">{{ mySite.how_it_works.title }}</h3>
                    <p>
                        {{ mySite.how_it_works.text }}
                    </p>
                </div>
            </div>
            <div class="image-block">
                <div id="meteostation-wrap">
                    <a href="{{ baseUrl }}{{ mySite.how_it_works.img }}"
                       data-fancybox>
                        <img src="{{ baseUrl }}{{ mySite.how_it_works.img }}" class="mb-3" style="box-shadow: none"/>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery-section" class="scroll-margin-top-class">
        <div class="gallery-wrapper custom-container carousel-wrapper">
            <span class="carousel-title mb-4">{{ mySite.product_gallery.title }}</span>
            <div class="carousel-bottom py-3">
                {% for productPhoto in mySite.product_gallery.folder | getFiles %}
                    <div class="carousel-cell-bottom">
                        <a href="{{ mySite.product_gallery.sub }}{{ productPhoto }}"
                           data-fancybox="gallery">
                            <img src="{{ mySite.product_gallery.sub }}{{ productPhoto }}" class="carousel-image-bottom" alt="test"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="meteostation-online" class="scroll-margin-top-class">
        <div class="custom-container section-wrapper-ordinary">
            <div class="image-block">
                <div id="meteostation-wrap">
                    <a href="{{ baseUrl }}{{ mySite.dashboard.photo_one }}"
                       data-fancybox="meteostation">
                        <img src="{{ baseUrl }}{{ mySite.dashboard.photo_one }}" class="mb-3"/>
                    </a>
                    <a href="{{ baseUrl }}{{ mySite.dashboard.photo_two }}"
                       data-fancybox="meteostation">
                        <img src="{{ baseUrl }}{{ mySite.dashboard.photo_two }}" class="mb-3"/>
                    </a>
                </div>
            </div>
            <div class="text-block">
                <div>
                    <h3 class="text-uppercase mb-3">{{ mySite.dashboard.title}}</h3>
                    <ul>
                        {% for featureText in mySite.dashboard.features %}
                            <li>
                                <p>{{ featureText.text }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="hardware-characteristics" class="scroll-margin-top-class">
        <div class="custom-container section-wrapper-ordinary reverse-flex">
            <div class="text-block">
                <div>
                    <h3 class="text-uppercase">{{ mySite.hardware.title }}</h3>
                    <p>
                        {{ mySite.hardware.text }}
                    </p>
                </div>
            </div>
            <div class="image-block">
                <div id="meteostation-wrap">
                    <a href="{{ baseUrl }}{{ mySite.hardware.photo }}"
                       data-fancybox>
                        <img src="{{ baseUrl }}{{ mySite.hardware.photo }}" class="mb-3"/>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="top-footer-wrapper">
        <div class="top-footer">
            <h3>{{ mySite.footer_info.title }}</h3>
            <p>{{ mySite.footer_info.info }}</p>
            <div class="contact-buttons-footer">
                <a href="tel:{{ mySite.phone }}">{{ mySite.phone }}</a>
                <a href="{{ mySite.telegram }}"><i class="fa-brands fa-telegram"></i> TELEGRAM</a>
                <a href="mailto:{{ mySite.email }}" class="text-uppercase">{{ mySite.email }}</a>
            </div>
        </div>
    </div>

    <div class="bottom-footer custom-container py-3">
        <span>{{ mySite.footer_info.bottom_strong }} <strong>{{ mySite.footer_info.bottom_ord }}</strong></span>
    </div>
</footer>
</body>
<script src="{{ baseUrl }}../assets/js/flickity.pkgd.min.js"></script>
<script src="{{ baseUrl }}../assets/js/carousel.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/product/navbar.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/hamburger.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/product/sticky_navbar.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/back-to-top.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/bootstrap.bundle.min.js"></script>
<script src="{{ baseUrl }}../assets/js/fancybox.umd.js"></script>
<script src="{{ baseUrl }}../assets/js/fancybox-options.js"></script>
</html>