---
// Redirect to default locale
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/uz/" />
    <link rel="canonical" href="/uz/" />
  </head>
  <body>
    <script is:inline>window.location.replace('/uz/');</script>
  </body>
</html>
