---
// Redirect to default locale
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/en/" />
    <link rel="canonical" href="/en/" />
  </head>
  <body>
    <script is:inline>window.location.replace('/en/');</script>
  </body>
</html>
